app_log_level = "info"
all_log_level = "warn"
static_files_path = "/opt/systemd/pproxy/static"

[control]
listen = "0.0.0.0:5050"

[waf]
#blocklist_url = "http://192.168.0.10:6060/blocklist"
geo_cache_file_path = "/opt/systemd/pproxy/geo_cache"
geo_api_url = "https://api.iplocation.net?ip="

[hosts."0.0.0.0:443"]
tls = true

[hosts."0.0.0.0:443".servers."example.com"]
upstream = "192.168.0.10:8000"
upstream_tls = false
# OPTIONAL, see below
#monitor = "test"
user_agent_blocklist = ["facebook", "scapy", "cypex", "scanning", "OAI-SearchBot", "YandexBot", "openai", "InternetMeasurement"]
geo_fence_country_allowlist = ["SK", "CZ", "GB"]
geo_fence_isp_blocklist = ["Amazon Data Services UK"]
cert_path = "/etc/letsencrypt/live/example.com/fullchain.pem"
key_path = "/etc/letsencrypt/live/example.com/privkey.pem"
proxy_headers = { "Connection" = "upgrade" }
redirect_rules = [
    { pattern = "example.com", new = "new-example.com" }
]

rewrite_rules = [
    { pattern = "path", new = "newpath" }
]
ip_rules = [
    { source = "Direct", subnet = "192.168.0.0/21", action = "Allow" },
    { source = "Direct", subnet = "0.0.0.0/0", action = "Deny" }
]

[hosts."0.0.0.0:443".servers."example.com".headers]
"X-Content-Type-Options" = "nosniff"
"X-Frame-Options" = "SAMEORIGIN"
"X-XSS-Protection" = "1; mode=block"
"Strict-Transport-Security" = "max-age=31536000; includeSubDomains;"

# OPTIONAL
# This machine will be suspended after 300 seconds of no activity and woken up
# when new requests are received.
# Control panel for this monitor is available at IP:5050/control/test
[monitors.test]
suspend_timeout = 300

[monitors.test.commands]
check_command = "ping -W 0.3 -c 1 192.168.0.32"
wake_command = "wakeonlan 3c:52:82:51:e4:59"
suspend_command = "ssh -o ConnectTimeout=1 pproxy@192.168.0.32 sudo systemctl suspend -i"
status_command = "ssh -o ConnectTimeout=1 pproxy@192.168.0.32 sudo sus-save"