<head>
    <meta charset="UTF-8">
    <!--    uncomment this-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Masaryk University">
    <title>{% block title %} Home Blocklist {% endblock %}</title>

    <script src="/static/js/htmx.min.js"></script>
    <script src="/static/js/htmx-response-targets.js"></script>
    <script src="/static/js/fa.js"></script>

    <link rel="stylesheet" href="/static/css/output.css"/>
<!--    <link href="/static/images/export/alema-icon-black.png" rel="icon" media="(prefers-color-scheme: light)">-->
<!--    <link href="/static/images/export/alema-icon-white.png" rel="icon" media="(prefers-color-scheme: dark)">-->
</head>
